<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/boot.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/about.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap" rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <title>About Us</title>
</head>

<body>
    <div id="TOP"></div>
    <div class="top">
        <!--Navbar-->
        <div class="open-navbar-icon navbar-icon center">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar">
                <div class="close-navbar-icon navbar-icon center">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="nav-list">
                    <div href="/#Home" class="nav-link center" name="nav-link">Home</div>
                    <div href="/#Tours" class="nav-link center" name="nav-link">Tours</div>
                    <div href="about" class="nav-link center" name="nav-link">About Us</div>
                    <div href="offer" class="nav-link center" name="nav-link">Offer</div>
                    <div href="/#Contact" class="nav-link center" name="nav-link">Contact</div>
                </div>
            </nav>
        </div>
        <nav class="sign-list" id="sign-list">
            <a href="sign-in" class="sign-link" name="sign-btn" id="sign-in-link">Sign In</a>
            <a href="sign-up" class="sign-link" name="sign-btn" id="sign-up-link">Sign Up</a>
        </nav>
    </div>
    <!--Container-->
    <div class="about-container about-line-height">
        <!--Nav to top-->
        <a href="#TOP" class="nav-to-top-icon navbar-icon center">
            <div class="to-top-arrow"></div>
        </a>
        <!--End of Navbar-->



        <div id="fh5co-wrap">
            <div class="fh5co-hero" style="background-image: url(images/img_2.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                            <div class="fh5co-intro fh5co-table-cell">
                                <h1 class="text-center">About us</h1>
                                <p>To be the most respectedInternet enterprise. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Our History</h2>
                            <p>Our company was founded in 1997, since 2003, Jiahua travel package not only special plane, but also special train and cruise. At the end of 2010, the first Taiwan charter plane was opened in China, creating a miracle of attendance
                                rate of 99.4%, satisfaction rate of 99.7% and zero complaint. In July 2012, direct charter flights from Jinan to Bangkok were opened.</p>
                            <p>In 2016, it won the "top 20 Shandong tourism" together with famous enterprises such as Taishan and Qufu "three holes". It is one of the largest tourism groups with the most complete network, the highest level, the largest scale
                                and the most complete functions in Shandong Province.</p>

                        </div>
                        <div class="col-md-7">
                            <img src="images/river.jpg" alt="Free HTML5 by " class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>

            <div class="fh5co-parallax" style="background-image: url(images/hero_2.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                            <div class="fh5co-intro fh5co-table-cell">
                                <h1 class="text-center">The leadership</h1>
                                <p>Made with love by the fine folks at </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 fh5co-staff">
                            <img src="images/t3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                            <h3>Athan Smith</h3>
                            <h4>Co-Founder, CEO</h4>
                            <p>The chief planner of tourism services and has rich experience in tourism management, route planning, etc.</p>

                        </div>
                        <div class="col-md-4 fh5co-staff">
                            <img src="images/t4.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                            <h3>Nathalie Kosley</h3>
                            <h4>Co-Founder, CTO</h4>
                            <p>Graduated from Stanford, majored in art and has spent the past two decades doing creative work with myriad publications. </p>
                            <ul class="fh5co-social">

                            </ul>
                        </div>
                        <div class="col-md-4 fh5co-staff">
                            <img src="images/person_2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                            <h3>Yanna Kuzuki</h3>
                            <h4>Co-Founder, Principal</h4>
                            <p>The director of tourism, and has provided theoretical support for tourism authorities and large comprehensive tourism groups.</p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="fh5co-parallax" style="background-image: url(images/hero_3.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                            <div class="fh5co-intro fh5co-table-cell">
                                <h1 class="text-center">Keep it simple</h1>
                                <p>Made with love by the fine folks at </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fh5co-section">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Start A Project With Us Now!</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The
                                Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>

                        </div>
                        <div class="col-md-6">
                            <p>Jiahua tourism always adheres to the core value of "enterprising + kindness", adheres to the business philosophy of "making friends sincerely, operating in good faith, being frank and doing things with heart", takes "being
                                the most responsible tourism enterprise in China" as its vision, and adheres to the strategic goal of "cultivating Jinan, taking root in Shandong, going to the world and serving the whole country", and strives to do so
                                with better products and better services "Chinese first choice of tourism brand". Now we sincerely invite the vast number of talents to join our team. Here you can give full play to your value. What are you hesitating about!</p>
                            <p><a href="#" class="btn btn-primary">Get started now!</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END fh5co-wrap -->
    </div>

    <!--footer-->
    <footer class="footer">
        <div class="footer-list">
            <div href="/#Home" class="footer-link">Home</div>
            <div href="/#Tours" class="footer-link">Tours</div>
            <div href="about" class="footer-link">About Us</div>
            <div href="offer" class="footer-link">Offer</div>
            <div href="/#Contact" class="footer-link">Contact</div>
        </div>
        <p class="footer-paragraph">
            Copyright &copy; ShaunAndShane All Rights Reserved
        </p>
    </footer>
    <!--End of footer-->
    <script src="js/about.js"></script>
</body>

</html>