<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap" rel="stylesheet" />

    <script src="sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/booking.css" />
    <title>The Road</title>
</head>

<body>
    <!--Container-->
    <div class="container">
        <!--Contact-->
        <section id="Sign" class="booking">
            <form class="booking-form center input-groups">
                <h1>Booking</h1>
                <img src="images/code.png" id="booking-img">
                <a class="form-btn" id="Back">Back</a>
            </form>
        </section>
        <!--End of contact-->
    </div>
    <!--End of container-->
    <script src="js/booking.js"></script>
</body>

</html>