<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="css/style.css" />
  <script src="js/jquery.js"></script>
  <title>The Road</title>
</head>

<body>
  <div id="TOP"></div>
  <div class="top">
    <!--Navbar-->
    <div class="open-navbar-icon navbar-icon center">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="close-navbar-icon navbar-icon center">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
        </div>
        <div class="nav-list">
          <a href="#Home" class="nav-link center"
            name="nav-link">Home</a>
          <a href="#Tours" class="nav-link center"
            name="nav-link">Tours</a>
          <a href="#Home" class="nav-link center"
            name="nav-link">About Us</a>
          <a href="#Home" class="nav-link center"
            name="nav-link">Offer</a>
          <a href="#Contact" class="nav-link center"
            name="nav-link">Contact</a>
        </div>
      </nav>
    </div>
    <nav class="sign-list" id="sign-list">
      <a href="sign-in" class="sign-link" name="sign-btn" id="sign-in-link">Sign In</a>
      <a href="sign-up" class="sign-link" name="sign-btn" id="sign-up-link">Sign Up</a>
    </nav>
  </div>
  <!--Container-->
  <div class="container">
    <!--Nav to top-->
    <a href="#TOP"
      class="nav-to-top-icon navbar-icon center">
      <div class="to-top-arrow"></div>
    </a>
    <!--End of Navbar-->

    <!--Header-->
    <header id="Home" class="header center">
      <div class="header-text">
        <h1 class="heading">Around the world</h1>
        <p class="header-paragraph1">"Traveling -
          it leaves you speechless, then turns you into a
          storyteller."
        </p>
        </br>
        <p class="header-paragraph2">"We travel, some of us
          forever,
          to seek other states, other lives, other souls."
        </p>
      </div>
      <img src="images/air-balloon.png" alt="Header Image"
        class="header-image" />
      <div class="logo">
        <h1>
          <span class="center">t</span>
          <span class="center">h</span>
          <span class="center">e</span>
          <span class="center">r</span>
          <span class="center">o</span>
          <span class="center">a</span>
          <span class="center">d</span>
        </h1>
      </div>
    </header>
    <!--End of header-->

    <!--Popular tours-->
    <section id="Tours" class="popular-tours">
      <h1 class="popular-tours-heading">The Most Popular
        Tours</h1>
      <div class="cards-wrapper">
        <!--card1-->
        <div class="card">
          <div class="front-side">
            <img src="images/forest.jpg" alt="Forest"
              class="card-image" />
            <h1 class="tour-name">The wild Forest</h1>
            <ul class="card-list">
              <li class="card-list-item">7 days tour</li>
              <li class="card-list-item">Up to 20 people
              </li>
              <li class="card-list-item">4 tour guides</li>
              <li class="card-list-item">Sleep in private
                tents</li>
              <li class="card-list-item">Difficulty: medium
              </li>
            </ul>
            <button class="navigation-button">
              price &gt;&gt;
            </button>
          </div>

          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt;back
            </button>
            <h3 class="tour-price">$399</h3>
            <a href='/booking' class="card-button">Booking</a>
          </div>
        </div>
        <!--End of card1-->

        <!--card2-->
        <div class="card">
          <div class="front-side">
            <img src="images/river.jpg" alt="River"
              class="card-image" />
            <h1 class="tour-name">Along the river</h1>
            <ul class="card-list">
              <li class="card-list-item">9 days tour</li>
              <li class="card-list-item">Up to 30 people
              </li>
              <li class="card-list-item">7 tour guides</li>
              <li class="card-list-item">Sleep in private
                tents</li>
              <li class="card-list-item">Difficulty: hard
              </li>
            </ul>
            <button class="navigation-button">
              price &gt;&gt;
            </button>
          </div>

          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt;back
            </button>
            <h3 class="tour-price">$499</h3>
            <a href='/booking' class="card-button">Booking</a>
          </div>
        </div>
        <!--End of card2-->

        <!--card3-->
        <div class="card">
          <div class="front-side">
            <img src="images/sea.jpg" alt="Sea"
              class="card-image" />
            <h1 class="tour-name">The island beach</h1>
            <ul class="card-list">
              <li class="card-list-item">5 days tour</li>
              <li class="card-list-item">Up to 40 people
              </li>
              <li class="card-list-item">8 tour guides</li>
              <li class="card-list-item">Sleep in hotel</li>
              <li class="card-list-item">Difficulty: easy
              </li>
            </ul>
            <button class="navigation-button">
              price &gt;&gt;
            </button>
          </div>

          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt;back
            </button>
            <h3 class="tour-price">$599</h3>
            <a href='/booking' class="card-button">Booking</a>
          </div>
        </div>
        <!--End of card3-->
      </div>
    </section>
    <!--End of popular tours-->

    <!--stoies-->
    <section class="stories" id="Story">
      <div class="video-container">
        <video class="bg-video" autoplay muted loop>
          <source src="images/video.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="stories-wrapper">
        <!--story1-->
        <a href="index.html" class="center">
          <div class="story-bg">
            <div class="story">
              <img src="images/story-img-1.jpg"
                alt="Customer image" class="story-image">
              <div class="story-text">
                <h1 class="story-heading">These were the
                  best
                  days of this year</h1>
                <p class="story-paragraph">
                  Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.
                  Recusandae error ipsum, explicabo iste
                  dolorum
                  temporibus sit maiores voluptatum
                  obcaecati
                  consequuntur
                  maxime assumenda illo eos delectus nam
                  debitis
                  consequatur ducimus cumque.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!--End of story1-->

        <!--story2-->
        <a href="index.html" class="center">
          <div class="story-bg">
            <div class="story">
              <img src="images/story-img-2.jpg"
                alt="Customer image" class="story-image">
              <div class="story-text">
                <h1 class="story-heading">I enjoyed this
                  great
                  tour</h1>
                <p class="story-paragraph">
                  Lorem ipsum dolor sit amet consectetur
                  adipisicing elit.
                  Odit esse id asperiores perferendis ea
                  minus
                  sequi, pariatur rem quia quaerat. Eius
                  ratione
                  necessitatibus blanditiis sequi modi
                  quisquam quibusdam
                  deserunt recusandae.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!--End of story2-->
      </div>

      <div class="story-link">
        <a href="story">Click to See More</a>
      </div>
    </section>
    <!--End of stories-->

    <!--Contact-->
    <section id="Contact" class="contact">
      <h1 class="contact-heading">Contact us</h1>
      <form class="contact-form center">
        <div class="input-group">
          <label>Full name *</label>
          <input type="text" class="contact-input"
            placeholder="Enter your name">
        </div>

        <div class="input-groups">
          <div class="input-group">
            <label>Email *</label>
            <input type="email" class="contact-input"
              placeholder="Enter your Email">
          </div>

          <div class="input-group">
            <label>Phone *</label>
            <input type="text" class="contact-input"
              placeholder="Enter your Phone number">
          </div>
        </div>

        <div class="input-group">
          <label>Message</label>
          <textarea class="form-textarea"
            placeholder="Your message here..."></textarea>
        </div>

        <input type="submit" value="Submit"
          class="form-btn" />
      </form>
    </section>
    <!--End of contact-->
  </div>
  <!--End of container-->
  <!--footer-->
  <footer class="footer">
    <div class="footer-list">
      <a href="#Home" class="footer-link">Home</a>
      <a href="#Tours" class="footer-link">Tours</a>
      <a href="#Home" class="footer-link">About Us</a>
      <a href="#Home" class="footer-link">Offer</a>
      <a href="#Contact" class="footer-link">Contact</a>
    </div>
    <p class="footer-paragraph">
      Copyright &copy; ShaunAndShane All Rights Reserved
    </p>
  </footer>
  <!--End of footer-->
  <script src="js/script.js"></script>
</body>

</html>