<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/offer.css" />
    <script src="js/jquery.js"></script>
    <title>Offer</title>
</head>

<body>
    <div id="TOP"></div>
    <div class="top">
        <!--Navbar-->
        <div class="open-navbar-icon navbar-icon center">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar">
                <div class="close-navbar-icon navbar-icon center">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="nav-list">
                    <div href="/#Home" class="nav-link center" name="nav-link">Home</div>
                    <div href="/#Tours" class="nav-link center" name="nav-link">Tours</div>
                    <div href="about" class="nav-link center" name="nav-link">About Us</div>
                    <div href="offer" class="nav-link center" name="nav-link">Offer</div>
                    <div href="/#Contact" class="nav-link center" name="nav-link">Contact</div>
                </div>
            </nav>
        </div>
        <nav class="sign-list" id="sign-list">
            <a href="sign-in" class="sign-link" name="sign-btn" id="sign-in-link">Sign In</a>
            <a href="sign-up" class="sign-link" name="sign-btn" id="sign-up-link">Sign Up</a>
        </nav>
    </div>

    <!--Container-->
    <div class="container">
        <!--Nav to top-->
        <a href="#TOP" class="nav-to-top-icon navbar-icon center">
            <div class="to-top-arrow"></div>
        </a>
        <!--End of Navbar-->

        <!--offer-->
        <div class="offer">
            <dis class="header-text">
                <h1 class="heading">Offer</h1>
                <p class="header-paragraph1">If you have outstanding talent...</p>
                <p class="header-paragraph1">If you have power and passion...</p>
                <p class="header-paragraph1">If traveling is deep in your heart...</p>
                <p class="header-paragraph2">Now, come and join us. We are eager for fresh blood.</p>
                <a href="offer-detail">
                    <button class="navigation-button">click to know more</button>
                </a>
            </dis>
        </div>
        <background src="images/offer-bg.jpg" alt="Header Image" class="header-image" />
        <!--footer-->
        <footer class="footer">
            <div class="footer-list">
                <div href="/#Home" class="footer-link">Home</div>
                <div href="/#Tours" class="footer-link">Tours</div>
                <div href="about" class="footer-link">About Us</div>
                <div href="offer" class="footer-link">Offer</div>
                <div href="/#Contact" class="footer-link">Contact</div>
            </div>
            <p class="footer-paragraph">
                Copyright &copy; ShaunAndShane All Rights Reserved
            </p>
        </footer>
        <!--End of footer-->
        <script src="js/offer.js"></script>
</body>

</html>