<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/offer.css" />
    <script src="js/jquery.js"></script>
    <title>Offer-jobs</title>
</head>

<body>
    <div id="TOP"></div>
    <div class="top">
        <!--Navbar-->
        <nav class="back-icon">
            <a href="offer" class="back-link">Back</a>
        </nav>

        <nav class="sign-list" id="sign-list">
            <a href="sign-in" class="sign-link" name="sign-btn" id="sign-in-link">Sign In</a>
            <a href="sign-up" class="sign-link" name="sign-btn" id="sign-up-link">Sign Up</a>
        </nav>
    </div>
    <!--End of Navbar-->
    <!--Business-unit-->
    <div class="business">
        <div class="video-container">
            <video class="bg-video" autoplay muted loop>
              <source src="images/offer.mp4" type="video/mp4" />
            </video>
        </div>
        <h1 class="heading2">Our Department</h1>
        <div class="cards-wrapper">
            <!--card1-->
            <div class="card">
                <div class="front-side">
                    <img src="images/Accommodation.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">Accommodation</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">The hotel division is the largest hotel reservation platform in China and the third largest hotel reservation platform in the world. It has 97 branch offices in China and 21 branch offices (countries / regions) overseas. At present,
                        it provides 400000 domestic and 700000 hotel bookings in more than 300 countries and regions overseas, with an annual night volume of more than 300 million.</h3>
                </div>
            </div>
            <!--End of card1-->
            <!--card2-->
            <div class="card">
                <div class="front-side">
                    <img src="images/Tickets.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">Tickets</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">Established in 2013, the division provides product services and related platform construction in the field of domestic and international train tickets. Its business covers more than 400000 domestic trains, and its international business
                        covers many countries and regions in Asia, Europe and Oceania. The train ticket Division has also incubated the business of bus ticket and ship ticket, which is one of the fastest growing strategic business units of the group.</h3>
                </div>
            </div>
            <!--End of card2-->

            <!--card3-->
            <div class="card">
                <div class="front-side">
                    <img src="images/International.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">International</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">The international division is our global brand- Trip.com The main operating Department of the company. Our vision is to provide one-stop travel booking service for customers all over the world. Since its establishment in 2007, the
                        Department has been operating in 27 countries and regions including Asia, Europe, America and Oceania. The website offers online products in more than 20 languages, 24 / 7 customer service in 19 languages, and payment services
                        in 25 exchange rates.</h3>
                </div>
            </div>
            <!--End of card3-->

            <!--card4-->
            <div class="card">
                <div class="front-side">
                    <img src="images/Travelling.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">Travelling</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">The tourism business group has the most comprehensive product line of group tour, free travel, play, customization, cruise, theme tour, study tour, visa, insurance, car rental, car, global purchase and foreign exchange. It has more
                        than 700000 holiday products in the world, covering more than 2000 cities, providing one-stop Tourism service for global users.</h3>
                </div>
            </div>
            <!--End of card4-->

            <!--card5-->
            <div class="card">
                <div class="front-side">
                    <img src="images/Technology.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">Technology</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">The technical team is composed of thousands of elite engineers from home and abroad, providing comprehensive technical support for the operation and development of various business lines of the group, and continuously creates value
                        for products and services through technological innovation. Technical personnel deeply understand the needs of users, with high-speed and stable system, rich and comprehensive products, simple and convenient functions, smooth and
                        intimate experience, and strive to change the life of travelers with technology.</h3>
                </div>
            </div>
            <!--End of card5-->

            <!--card6-->
            <div class="card">
                <div class="front-side">
                    <img src="images/Finance.jpg" alt="Forest" class="card-image" />
                    <h1 class="tour-name">Finance</h1>
                </div>
                <div class="back-side center">
                    <h3 class="tour-price">The financial team started in 2017. With the mission of "financial assistance to travel", based on scenarios and with the role of big data, the financial team is committed to empowering the travel industry with financial technology
                        and helping travel customers and suppliers solve various financial needs. Financial team can make your travel different.
                    </h3>
                </div>
            </div>
            <!--End of card6-->
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <div class="footer-list">
            <div href="/#Home" class="footer-link">Home</div>
            <div href="/#Tours" class="footer-link">Tours</div>
            <div href="about" class="footer-link">About Us</div>
            <div href="offer" class="footer-link">Offer</div>
            <div href="/#Contact" class="footer-link">Contact</div>
        </div>
        <p class="footer-paragraph">
            Copyright &copy; ShaunAndShane All Rights Reserved
        </p>
    </footer>
    <!--End of footer-->
    <script src="js/offer.js"></script>
</body>

</html>