<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/story.css" />
    <script src="js/jquery.js"></script>
    <title>Story</title>
</head>

<body>
    <div id="TOP"></div>
    <div class="top">
        <!--Navbar-->
        <nav class="back-icon">
            <div href="/#Story" class="back-link">Back</div>
        </nav>

        <nav class="sign-list">
            <div class="sign-link" id="user-account-btn"></div>
            <div class="sign-link" id="log-out-btn">Log Out</div>
        </nav>
    </div>
    <!--Container-->
    <div class="container">
        <!--Nav to top-->
        <a href="#TOP" class="nav-to-top-icon navbar-icon center">
            <div class="to-top-arrow"></div>
        </a>
        <!--End of Navbar-->

        <!--stoies-->
        <section class="stories">
            <div class="video-container">
                <video class="bg-video" autoplay muted loop>
                    <source src="images/video3.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="stories-wrapper">
                <!--story1-->
                <a href="index.html" class="center">
                    <div class="story-bg">
                        <div class="story">
                            <img src="images/story-img-1.jpg" alt="Customer image" class="story-image">
                            <div class="story-text">
                                <h1 class="story-heading">
                                    These
                                    were the best days of
                                    this
                                    year</h1>
                                <p class="story-paragraph">
                                    Lorem ipsum, dolor sit
                                    amet
                                    consectetur adipisicing
                                    elit.
                                    Recusandae error ipsum,
                                    explicabo iste dolorum
                                    temporibus sit maiores
                                    voluptatum obcaecati
                                    consequuntur
                                    maxime assumenda illo
                                    eos
                                    delectus nam debitis
                                    consequatur ducimus
                                    cumque.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End of story1-->

                <!--story2-->
                <a href="index.html" class="center">
                    <div class="story-bg">
                        <div class="story">
                            <img src="images/story-img-2.jpg" alt="Customer image" class="story-image">
                            <div class="story-text">
                                <h1 class="story-heading">I
                                    enjoyed this great
                                    tour</h1>
                                <p class="story-paragraph">
                                    Lorem, ipsum dolor sit
                                    amet
                                    consectetur adipisicing
                                    elit. Ratione doloremque
                                    quis dolorem distinctio
                                    eligendi minima beatae?
                                    Est,
                                    hic quis molestias iure
                                    sunt
                                    tempore voluptate
                                    deleniti,
                                    debitis, consequuntur
                                    libero
                                    quo sit!
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End of story2-->

                <!--story3-->
                <a href="index.html" class="center">
                    <div class="story-bg">
                        <div class="story">
                            <img src="images/story-img-3.jpg" alt="Customer image" class="story-image">
                            <div class="story-text">
                                <h1 class="story-heading">
                                    This
                                    tour was amazing</h1>
                                <p class="story-paragraph">
                                    Lorem ipsum dolor sit
                                    amet
                                    consectetur, adipisicing
                                    elit. Voluptatibus nulla
                                    eaque nisi dicta, omnis
                                    consequuntur, reiciendis
                                    alias eos asperiores
                                    totam
                                    iste fugiat, possimus
                                    cupiditate illum! Illo
                                    accusantium repellat
                                    pariatur exercitationem.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End of story3-->

                <!--story4-->
                <a href="index.html" class="center">
                    <div class="story-bg">
                        <div class="story">
                            <img src="images/story-img-4.jpg" alt="Customer image" class="story-image">
                            <div class="story-text">
                                <h1 class="story-heading">
                                    what a
                                    fatanstic tour</h1>
                                <p class="story-paragraph">
                                    Lorem ipsum dolor sit
                                    amet,
                                    consectetur adipisicing
                                    elit. Nobis iusto
                                    consectetur autem
                                    placeat
                                    ea, eaque soluta, totam
                                    quisquam et non iste?
                                    Architecto laboriosam
                                    eum ex
                                    obcaecati! Nesciunt,
                                    eos.
                                    Eligendi, ea!
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End of story4-->

                <!--story5-->
                <a href="index.html" class="center">
                    <div class="story-bg">
                        <div class="story">
                            <img src="images/story-img-5.jpg" alt="Customer image" class="story-image">
                            <div class="story-text">
                                <h1 class="story-heading">
                                    can't
                                    wait to share my story
                                </h1>
                                <p class="story-paragraph">
                                    Lorem ipsum dolor sit
                                    amet
                                    consectetur adipisicing
                                    elit. Reprehenderit, at!
                                    Impedit harum iure
                                    dolorum
                                    mollitia corporis illum
                                    natus hic ut est! Alias
                                    voluptatibus non dicta
                                    ipsam
                                    quaerat, veritatis
                                    distinctio est.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End of story5-->
            </div>
        </section>
        <!--End of stories-->

    </div>
    <!--End of container-->
    <!--footer-->
    <footer class="footer">
        <div class="footer-list">
            <div href="/#Home" class="footer-link">Home</div>
            <div href="/#Tours" class="footer-link">Tours</div>
            <div href="/#Home" class="footer-link">About Us</div>
            <div href="/#Home" class="footer-link">Offer</div>
            <div href="/#Contact" class="footer-link">Contact</div>
        </div>
        <p class="footer-paragraph">
            Copyright &copy; ShaunAndShane All Rights
            Reserved
        </p>
    </footer>
    <!--End of footer-->
    <script src="js/story.js"></script>
</body>

</html>